<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This site is for the Golden Pandas FIRST Lego League Team.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#todo" role="button">Sign in &raquo;</a>
  </p>
</div>
